table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.menu {
	display: inline-block;  
	margin:10px;
}
.input_form {
	border: 2px #000;
}

.input_form td{
	border: 2px #000;
}
