<!--
   all_certificates.html
   
   Copyright 2019 Marka <marka@evil>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{% extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container-fluid">
	<h3>Все сертификаты</h3>
	<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>Имя сертификата</th>
					<th>Код страны</th>
					<th>Область</th>
					<th>Город</th>
					<th>Организация</th>
					<th>Отдел</th>
					<th>Email</th>
					<th>Common Name</th>
					<th>Издатель сертификата</th>
					<th>Дата начала действия</th>
					<th>Дата окончания действия</th>
					<th></th>
				</tr>
			</thead>
			{% for i in range(all_cert|length) %}
			<tr>
				<td>{{ all_cert[i].cert_name }}</td>
				<td>{{ all_cert[i].country }}</td>
				<td>{{ all_cert[i].oblast }}</td>
				<td>{{ all_cert[i].city }}</td>			
				<td>{{ all_cert[i].company }}</td>
				<td>{{ all_cert[i].unit }}</td>
				<td>{{ all_cert[i].email }}</td>
				<td>{{ all_cert[i].common_name }}</td>
				<td>{{ all_cert[i].issuer }}</td>			
				<td>{{ all_cert[i].time_start }}</td>
				<td>{{ all_cert[i].time_end }}</td>
				<td>
					<form action="/all_certificates" method="post">
						<input style="display:none" type="text" name="rev_this" value="{{all_cert[i].cert_name}}"><br>
						<input type="submit" value="Отозвать">
					</form>
				</td>
			</tr>
			{% endfor %}
	</table>
</div>
{% endblock %}
