<!--
   base.html
   
   Copyright 2019 Marka <marka@evil>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->


<!-- Меню сайта -->
<html>
    <head>
      <title>{{ title }} - Сертификационный центр</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}" />
    </head>
    <body>
        <div class="menu"><a href="/index">Домой</a></div>
        <div class="menu"><a href="/all_certificates">Все сертификаты</a></div>
        <div class="menu"><a href="/index">Создать</a></div>
        <div class="menu"><a href="/index">Удалить</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
