<!--
   base.html
   
   Copyright 2019 Marka <marka@evil>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

{% extends "bootstrap/base.html" %}
<!-- Меню сайта -->
<html>
    <head>
      <title>{{ title }}</title>
    </head>
    <body>
		{% block navbar %}
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="/index">Домой</a></li>
				<li><a href="/all_certificates">Все сертификаты</a></li>
				<li><a href="/create_certificate">Создать</a></li>
				<li><a href="/revoke">Отозвать</a></li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		{% endblock %}
		
		
        {% block content %}
        {% endblock %}
    </body>
</html>
