<!--
   create_certificate.html
   
   Copyright 2019 Marka <marka@evil>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <h3>Создание сертификата</h3>
            
            
            <form method="POST" action="/create_certificate">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.name) }}
                {{ wtf.form_field(form.country) }}
                {{ wtf.form_field(form.oblast) }}
                {{ wtf.form_field(form.city) }}
                {{ wtf.form_field(form.company) }}
                {{ wtf.form_field(form.unit) }}
                {{ wtf.form_field(form.common_name) }}
                {{ wtf.form_field(form.email) }}
                
                    <input type="submit" class="btn btn-success" value="Отправить">
        
            </form>
        </div>
    </div>
</div>

{% endblock %}
